body {
  /* background-color: rgb(102, 70, 29) !important; */
}

.stepper .step {
  display: block;
  width: 15px !important;
  height: 15px !important;
  line-height: 17px !important;
  text-align: center;
  z-index: 1;
  background-color: #989898;
  color: #fff;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  font-size: 12px;
}

#enquery_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px;
  /* Mark input boxes that gets an error on validation: */
  /* Hide all steps by default: */
  /* Make circles that indicate the steps of the form: */
  /* Mark the steps that are finished and valid: */
}
#enquery_form #regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}
#enquery_form h1 {
  text-align: center;
}
#enquery_form input, #enquery_form textarea {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
}
#enquery_form input.invalid {
  background-color: #ffdddd;
}
#enquery_form .tab {
  display: none;
  width: 50%;
}
@media screen and (max-width: 768px) {
  #enquery_form .tab {
    width: 100%;
  }
}
#enquery_form .tab .form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#enquery_form .btn-container {
  width: 45%;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  #enquery_form .btn-container {
    width: 100%;
  }
}
#enquery_form button {
  background-color: #1768cf;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  width: 100%;
  border-radius: 50px;
}
#enquery_form button:hover {
  opacity: 0.8;
}
#enquery_form #prevBtn {
  background-color: #3f3f3f;
}
#enquery_form .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
#enquery_form .step.active {
  opacity: 1;
}
#enquery_form .step.finish {
  background-color: #04aa6d;
}
#enquery_form .confirmation {
  background-color: #1768cf;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #91acce;
  width: 50%;
  color: #ffffff;
}/*# sourceMappingURL=stepper.css.map */