body {
  /* background-color: rgb(102, 70, 29) !important; */
}
.stepper .step {
  display: block;
  width: 15px !important;
  height: 15px !important;
  line-height: 17px !important;
  text-align: center;
  z-index: 1;
  background-color: #989898;
  color: #fff;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  font-size: 12px;
}
#enquery_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px;
  #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }

  h1 {
    text-align: center;
  }

  input, textarea {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
  }

  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }

  /* Hide all steps by default: */
  .tab {
    display: none;
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .form-header{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
.btn-container{
  width: 45%;
  margin-top: 20px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
  button {
    background-color: #1768cf;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
  }

  button:hover {
    opacity: 0.8;
  }

  #prevBtn {
    background-color: #3f3f3f;
  }

  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .step.active {
    opacity: 1;
  }

  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04aa6d;
  }

  .confirmation{
    background-color: #1768cf;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #91acce;
    width: 50%;
    color: #ffffff;
    // display: none;
  }
}
